:root {
  --high-background:linear-gradient(150deg, rgb(223, 108, 0) 10%, rgb(235, 235, 13) 100%);
  --mid-background:linear-gradient(150deg, rgb(69, 201, 21) 10%, rgb(193, 207, 1) 100%);
  --low-background:linear-gradient(150deg, rgb(97, 102, 117) 10%, rgb(3, 55, 116) 100%);
  --super-low-background:linear-gradient(150deg, rgb(0, 21, 82) 10%, rgb(85, 7, 180) 100%);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: yellow;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.button{
  border-radius: 10px;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}
@media (min-width: 550px) {
  .main{
    width: 30%;
  }
  section.computer_section{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
  }
}
