.main{
    display: flex;
    place-content: center;
    flex-direction: column;
    height: 100%;
    max-width:500px;
    width: 100%;
    padding: 2rem;
    gap: 3rem;
}
/* navbar */
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 58px;
    border-radius: 5px;
}
.navbar_searchbar{
    display: flex;
    align-items: center;
    width: 80%;
    height: 100%;
    border: 4px white solid;
    border-radius: 15px;

}
.navbar_searchbar input{
    width: 80%;
    height: 100%;
    color: white;
    background-color: transparent;
    border: 0px;
    margin-left: 20px;
    font-size: 25px;
}
.navbar_searchbar input:focus{
outline: none;
}
.navbar_search-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20%;
}

.navbar_menu-btn{
    width: 55px;
    height: 100%;
    border: 4px white solid;
    border-radius: 15px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0,.7);
}
/* main temperature */
.main_temperature-container{
    min-height: 300px;
    border-radius: 5px;
    border: 4px white solid;
    padding: 2rem;
}
.main_upper-container{
    display: flex;
    justify-content: space-between;
}
.upper-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main_location-icon{
    margin-left: -10px;
    font-size: 30px;
}
.main_country{
    color: rgba(255, 255, 255, 0.5) ;
    font-weight: 500;
}
.main_city{
    font-size: 2rem;
    font-weight: 500;
}
.main_sun-icon{
    width: 100px;
    font-size: 100px;
}
/* main-lower */
.main_lower-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.main_temperature{
    font-size: 128px;
    font-weight: 500;
    background: linear-gradient(#ffffff, rgba(151, 151, 151, 0.5));
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 

}
.main_weather-word{
    font-weight: 500;
    font-size: 2rem;
}

/* hours */
.hours-container{
    min-height: 80px;
    border-radius: 5px;
    border: 4px white solid;
}
/* days */
.days-container{
    min-height: 150px;
    border-radius: 5px;
    border: 4px white solid;
    
}